*.DS_Store
.tmp*
build-*
build_*
build/*
!scripts/docker/build_cuda.sh
!scripts/docker/build_hrz.sh
!scripts/docker/build_orin.sh
**/__pycache__/
*.pyc

# ignore model files in examples directory
examples/*/*/
!examples/config/base/
!examples/config/base/**
!examples/config/platform/
!examples/config/platform/**

.cache/
**.pytest_cache/
tags*
tests/data/*

ncu_*
nsys_*

doc/benchmark_reports
doc/edge_fm_optimization_journal.md
deliverables