addict==2.4.0
black==24.10.0
cityscapesscripts==2.2.4
cython==3.0.11
diffusers==0.32.0
dictor==0.1.12
einops==0.8.0
ephem==4.1.6
gym==0.26.2
h5py==3.12.1
imagecorruptions==1.1.2
ipython==8.31.0
laspy==2.5.4
lazrs==0.6.2
loguru==0.7.3
lyft-dataset-sdk==0.0.8
matplotlib==3.5.3
motmetrics==1.4.0
networkx==3.4.2
numba==0.60.0
numpy==1.26.4
nuscenes-devkit==1.1.11
opencv-python==4.10.0.84
packaging==24.2
peft==0.12.0
pillow==11.0.0
prettytable==3.12.0
py-trees==0.8.3
pycocotools==2.0.8
pygame==2.6.1
pyquaternion==0.9.9
pyzmq==26.2.0
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
sentencepiece==0.2.0
shapely==1.8.5.post1
similaritymeasures==1.2.0
simple-watchdog-timer==0.1.1
stable-baselines3==2.4.0
tabulate==0.9.0
tensorboard==2.18.0
terminaltables==3.1.10
torchmetrics==1.6.0
transformers==4.45.2
transforms3d==0.4.2
trimesh==4.5.2
yapf==0.40.1
